<div
  class="navbar-container"
  [class.navbar-is-mobile]="mobileQuery.matches"
  *ngIf="shouldRun"
>
  <mat-toolbar color="primary" class="navbar-toolbar">
    <div ngClass>
      <button *ngIf="showSideNav" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="navbar-app-name"> Backoffice</span>
    </div>
      <div>
        <span class="navbar-app-name">{{stateTitle}}</span>
      </div>
    <div>
      <button mat-button color="" routerLink="/login">Login</button>
      <button mat-button color="" (click)='logout()'>Logout</button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="navbar-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list *ngIf="showSideNav">
        <a
          mat-list-item
          *ngFor="let nav of staticNav"
          routerLink="{{ nav.path }}"
          >{{ nav.name }}</a
        >
        <div *ngFor="let item of expanNav">
          <button mat-button class="principal-btn" (click)='open(item.category)'>
            {{ item.category }}
          </button>
          <div *ngIf=item.expaded>
            <button class='list-button' mat-button routerLink="{{ element.path }}" *ngFor="let element of item.datos">{{ element.name }}</button>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
