<div class="container">
  <mat-card class="product-card">
    <div class="mat-title">Create New Product</div>
    <form [formGroup]="prodForm" (ngSubmit)="register()">
      <div>
        <mat-form-field class="login-full-width">
          <mat-label for="name">Name</mat-label>
          <input matInput formControlName="name" type="text" id="name" />
        </mat-form-field>
        <div
          class="mat-small"
          *ngIf="prodForm.get('name').errors && prodForm.get('name').touched"
        >
          Name is requited
        </div>
      </div>
      <div>
        <mat-form-field class="login-full-width">
          <mat-label for="sku">SKU</mat-label>
          <input matInput formControlName="sku" type="text" id="sku" />
        </mat-form-field>
        <div
          class="mat-small"
          *ngIf="prodForm.get('sku').errors && prodForm.get('sku').touched"
        >
          SKU is requited
        </div>
      </div>
      <div>
        <mat-form-field class="login-full-width">
          <mat-label for="description">Description</mat-label>
          <input
            matInput
            formControlName="description"
            type="description"
            id="description"
          />
        </mat-form-field>
        <div
          class="mat-small"
          *ngIf="
            prodForm.get('description').errors &&
            prodForm.get('description').touched
          "
        >
          Description is requited
        </div>
      </div>
      <div>
        <mat-form-field class="login-full-width">
          <mat-label for="price">Price</mat-label>
          <input matInput formControlName="price" type="price" id="price" />
        </mat-form-field>
        <div
          class="mat-small"
          *ngIf="prodForm.get('price').errors && prodForm.get('price').touched"
        >
          Price is requited
        </div>
      </div>
      <div>
        <mat-form-field class="login-full-width">
          <mat-label for="offert">Offert</mat-label>
          <input matInput formControlName="offert" type="offert" id="offert" />
        </mat-form-field>
        <div
          class="mat-small"
          *ngIf="
            prodForm.get('offert').errors && prodForm.get('offert').touched
          "
        >
          Offert is requited
        </div>
      </div>
      <div>
        <mat-form-field class="login-full-width">
          <mat-label for="quantity">Quantity</mat-label>
          <input
            matInput
            formControlName="quantity"
            type="quantity"
            id="quantity"
          />
        </mat-form-field>
        <div
          class="mat-small"
          *ngIf="
            prodForm.get('quantity').errors && prodForm.get('quantity').touched
          "
        >
          Quantity is requited
        </div>
      </div>
      <div>
        <mat-form-field class="login-full-width">
          <mat-label for="subcategory">Select Category</mat-label>
          <mat-select
            matInput
            formControlName="subcategory"
            type="subcategory"
            id="subcategory"
          >
            <mat-option
              *ngFor="let item of subcategoryData"
              value="{{ item._id }}"
              >{{ item.subname }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div
          class="mat-small"
          *ngIf="
            prodForm.get('subcategory').errors &&
            prodForm.get('subcategory').touched
          "
        >
          Subcategory is requited
        </div>
      </div>
      <div>
          <label for="images" >Add Product Image</label>
          <br>
          <input
            id="images"
            type="file"
            name="photo"
            ng2FileSelect
            [uploader]="uploader"
        />
      </div>
      <div>
        <br>
        <mat-checkbox formControlName="featured"
          >Is this a featured product?</mat-checkbox
        >
      </div>
      <br />
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="prodForm.invalid || !uploader.getNotUploadedItems().length"
      >
        Ingresar
      </button>
    </form>
  </mat-card>
</div>
