<div class="container">
  <br />
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="[
      { name: 'Name' },
      { name: 'SKU' },
      { name: 'Description' },
      { name: 'Price' },
      { name: 'Offert' },
      { name: 'Quantity' },
      { name: 'Subcategory', prop: 'subcategory.subname' },
      { name: 'Featured' }
    ]"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="50"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)="setPage($event)"
  >
    <ngx-datatable-column
      *ngFor="let col of columns"
      [name]="col.name"
      [prop]="col.prop"
    >
    </ngx-datatable-column>
    <ngx-datatable-column name="Options" prop="id">
      <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
        <button mat-icon-button (click)="deleteProd(value)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
          <button mat-icon-button routerLink="/products-edit/{{value}}">
            <mat-icon>
              create
            </mat-icon>
          </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
