<div class="container">
  <br />
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="[
      { name: 'Name' },
      { name: 'Description' },
      { name: 'Price' },
      { name: 'Offert' },
      { name: 'Quantity' },
      { name: 'Subcategory', prop: 'subcategory.subname' },
      { name: 'Featured' },
      { name: 'SKU' }
    ]"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="80"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)="setPage($event)"
  >

  <ngx-datatable-column name='Images' prop='images.filename'>
    <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
        <img src="http://localhost:3001/images/{{value}}" alt="" width="80">
    </ng-template>
  </ngx-datatable-column>
    <ngx-datatable-column
      *ngFor="let col of columns"
      [name]="col.name"
      [prop]="col.prop"
    >
    </ngx-datatable-column>
    <ngx-datatable-column name="Options" prop="">
      <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div>
            <button mat-menu-item (click)="deleteProd(value._id, value.images.filename)">
              <mat-icon>
              delete
              </mat-icon>
              <span>Delete</span>
            </button>
          </div>
          <div>
            <!-- mando el name de oldImg por queryParams -->
            <button mat-menu-item routerLink="/products-edit/{{value._id}}" [queryParams]="{oldImg: value.images.filename}">
              <mat-icon>
              create
              </mat-icon>
              <span>Modify</span>
            </button>
          </div>
        </mat-menu>  
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
