.login-card {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  margin-top: 4rem;
}

.container {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user{
  width: 100px;
}